@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mukta&family=Poppins&family=Rubik&family=Ubuntu&family=Varela+Round&family=Work+Sans:ital,wght@0,400;0,500;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: 'Poppins', sans-serif;
}

